<footer>
    <section id="footer-left">
        <div class="copyright">
            <h4>Copyright - 2022</h4>
        </div>
    </section>
    <section id="footer-middle">

    </section>
    <section id="footer-right">

    </section>
</footer>
