<header>
    <div class="header-container">
        <div class="header-left">
            <div class="title-container">
                <h1>Arcan Planes</h1>
                <h3>MTG Card List</h3>
            </div>
            <nav>
                <a class="nav-link" href="/">Home</a>
                <a class="nav-link" href="/card/index">Card List</a>
            </nav>
        </div>
        <div class="header-middle">

        </div>
        <div class="header-right">
            <div class="logo-container">
                <img src="/img/mtg_header_logo.png" alt="">
            </div>
        </div>

    </div>
</header>
