<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Arcane Planes | Card List</title>
    </head>
    <body>
        <h1>List of cards</h1>

        <div class="list-container">
            <ul id="hp-card-list">
                <% for (let i = 0; i < cards.length; i++) {%>
                    <li> <a href="/card/<%=cards[i]._id%>"><%=cards[i].name%></a> </li>
                <% } %>
            </ul>
        </div>
        <br>
        <br>
        <br>
        <nav>
            <a href="/card/new"> <button type="button" name="button">Add New Card</button> </a>
        </nav>
    </body>
</html>
