<!DOCTYPE html>
<html lang="en" dir="ltr">

    <!-- Head -->
    <%- include ('../partials/head.ejs') %>
    <!-- Head -->

    <body>

        <!-- Header -->
        <%- include ('../partials/header.ejs') %>
        <!-- Header -->

        <h1>Enter New Card Info</h1>

        <form class="new-card-form" action="/card" method="POST">
            name: <input type="text" name="name" > <br>
            <br>
            Mana Cost: <br>
                Red: <input class="mana-cost" type="number" name="manaCost.red"> <br>
                Green: <input class="mana-cost" type="number" name="manaCost.green"><br>
                Blue: <input class="mana-cost" type="number" name="manaCost.blue"><br>
                White: <input class="mana-cost" type="number" name="manaCost.white"><br>
                Black: <input class="mana-cost" type="number" name="manaCost.black"><br>
                Colorless: <input class="mana-cost" type="number" name="manaCost.colorless"><br>
            <br>
            img: <input type="text" name="img" ><br>
            type: <input type="text" name="typeLine.mainType" ><br>
            subtype: <input type="text" name="typeLine.subTypes" ><br>
            rarity: <input type="text" name="rarity" ><br>
            text: <input type="text" name="text" ><br>
            stats:
                power: <input type="text" name="stats.power" ><br>
                toughness: <input type="text" name="stats.toughness" ><br>
                loyalty: <input type="text" name="stats.loyalty" ><br>
            misc: {
                expansion: <input type="text" name="misc.expansion" ><br>
                illustrator: <input type="text" name="misc.illustrator" ><br>
                collectorNum: <input type="text" name="misc.collectorNum" ><br>
                <br>
                <input type="submit" name="" value="Save New Card">
        </form>

        <!-- Footer -->
        <%- include ('../partials/footer.ejs') %>
        <!-- Footer -->
    </body>
</html>
