<!DOCTYPE html>
<html lang="en" dir="ltr">

    <!-- Head -->
    <%- include ('./partials/head.ejs') %>
    <!-- Head -->

    <body>
        
        <!-- Header -->
        <%- include ('./partials/header.ejs') %>
        <!-- Header -->

        <h1>Welcome to Arcane Planes</h1>
        <h2>MTG Card Database and Deckbuilder</h2>

        <div class="list-container">
            <ul id="hp-card-list">
                <% for (let i = 0; i < cards.length; i++) {%>
                    <li> <a href="/card/<%=cards[i]._id%>"> <%=cards[i].name%> </a> </li>
                <% } %>
            </ul>
        </div>


    </body>
</html>
