<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Arcane Planes | Home</title>
    </head>
    <body>
        <h1>Welcome to Arcane Planes</h1>
        <h2>MTG Card Database and Deckbuilder</h2>
    </body>
</html>
